body {
  font-size:22px;
}

h1 ,h2{
  color:blue;
}

p {
  color:purple;
}

.highlight {
  background-color:gold;
  text-transform:uppercase;
}

.gray {
  color:gray;
}

#second {
  font-style:italic;
}