@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
ol {
  list-style-type:none;
 
}
/* ul {
  list-style-image: url("checkmark.png");
} */

ul li:nth-child(2) {
  color:red;
}

::marker {
  color:red;
  font-family:fantasy;
  font-size:1em;
  content:"only 5$ >>";
}